.pokemonPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    padding: 20px;
    text-align: center;
}
  
.pokemonImageContainer {
    background-image: url('/pokemon_forest.png');
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 230px;
    border-radius: 50%;
    display: inline-block;
}
  
.pokemonImage {
    border-radius: 50%;
}
  
.pokemonContainer h2 {
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
}
  
.pokemonTypes {
    font-size: 1.1rem;
    color: #aaa;
    margin-bottom: 20px;
}
  
.buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.iconContainer:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
  
.icon {
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 5px;
}
  
.iconContainer span {
    font-size: 1rem;
    text-align: center;
    margin-top: 5px;
}

.type {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.loadingIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    color: #333;
}

.modalContainer {
    width: 320px;
    max-height: 650px;
    background: #333;
    border-radius: 12px;
    padding: 35px 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    position: relative;
    margin: 0 16px;
    flex-direction: column;
    align-items: center;
}

.pokemonNameModal{
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
}

.inputPokemonName{
    width: 80%;
    height: 45px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 2em;
    font-size: 17px;
}

.inputPokemonName::placeholder{
    font-size: 17px;
    font-weight: 400;
}

.inputError{
    width: 80%;
    height: 45px;
    padding: 12px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 0.5em;
    font-size: 17px;
    border: 1px solid #F03D3E;
}

.errorMessage{
    color: #F03D3E;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}